.student {
    text-align: center;
    font-size: 32px;
    background-color: red;
    color: black;
    border: dotted yellow 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    border-radius: 25%;
    margin: 10px;
    text-shadow: 2px 2px;
  }