.react {
    text-align: center;
    font-size: 32px;
    background-color: hotpink;
    color: black;
    border: dashed darkslategray 20px;
    font-family: 'Times New Roman', Times, serif;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    margin: 10px;
    text-shadow: 2px 2px;
  }